# =============================================================================
# Terraform Variables
# =============================================================================

ami_id            = "ami-0f918f7e67a3323f0"
instance_storage  = 30
environment       = "production"
key_pair_location = "terra.pub"
eks_instance_type = "c5.xlarge"

instance_types = {
  master    = "c5x.large"
  worker_cd = "t3.micro"
  worker_ci = "m5.large"
}
