# =============================================================================
# Terraform Variables
# =============================================================================

ami_id            = "ami-0f918f7e67a3323f0"
instance_storage  = 29
environment       = "staging"
key_pair_location = "terra.pub"
eks_instance_type = "c5.xlarge"

instance_types = {
  master    = "c5.xlarge"
  worker_cd = "t2.micro"
  worker_ci = "c5.xlarge"
}
